@CHARSET "UTF-8";

@import url(form.css);

html, body{
	height: 100%;
}

body {
	background-image: url("../images/corp-login/body-bg.jpg");
	background-repeat: no-repeat;
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 40px;
}

.form-signin {
	width: 400px;
	padding: 15px;
	margin: 0 auto;
}

.form-signin h2{
	color: #fff;
}

.form-signin .title-pic {
	background-image: url(../images/login-bg.jpg);
	background-size: 58% 100%;
	background-repeat: no-repeat;
}

.form-signin .form-signin-heading,.form-signin .checkbox {
	margin-bottom: 10px;
}

.form-signin .checkbox {
	font-weight: normal;
}

.form-signin .form-control {
	/* position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px; */
	font-size: 16px;
}

.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input {
	margin-bottom: 10px;
}

.login-btn {
	background: rgba(0, 0, 0, 0) url("../images/corp-login/login-btn.jpg")
		repeat scroll 0 0;
	border: medium none;
}

.login-btn:hover {
	opacity: 0.8;
}

/*消息栏*/
div.error ul {
	margin: 0px;
	background-image: url(../images/icons/error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
}

div.error ul li {
	list-style: none;
}

div.notice ul {
	margin: 0px;
	background-image: url(../images/icons/light-on.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
}

div.notice ul li {
	list-style: none;
}