.eXtremeTable {
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.eXtremeTable select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border: solid 1px #EEE;
	width: 75px;
}

.eXtremeTable .tableRegion {
	border: 1px solid silver;
	padding: 2px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-top: 2px;
	border-collapse: collapse;
}

.eXtremeTable .filter {
	background-color: #efefef;
}

.eXtremeTable .filter input {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	width: 100%;
}

.eXtremeTable .filter select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	border: solid 1px #EEE;
	width: 100%;
}

.eXtremeTable thead tr {
	background-image:url("../images/extremetable/header-bg.png");
	background-repeat:repeat-x;
}

.eXtremeTable .tableHeader {
	font-weight: bold;
	border: 1px solid #dadada;
	color: #636363;
	text-align: center;
	white-space: nowrap;
	height: 18px;
}

.eXtremeTable .tableHeaderSort {
	font-weight: bold;
	border: 1px solid #dadada;
	color: #636363;
	text-align: center;
	white-space: nowrap;
	height: 18px;
}

.eXtremeTable .odd a,.even a {
	color: Black;
	font-size: 9pt;
}

.eXtremeTable .odd td,.eXtremeTable .even td {
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
	vertical-align: top;
	height: 22px;
	border: 1px solid #dbdbdb;
}

.eXtremeTable .odd {
	background-color: #FFFFFF;
	font-size: 9pt;
	vertical-align: top;
}

.eXtremeTable .even {
	background-color: #e6e6e6;
	font-size: 9pt;
	vertical-align: top;
}

.eXtremeTable .highlight td {
	color: black;
	font-size: 9pt;
	padding-top: 1px;
	padding-right: 3px;
	padding-bottom: 1px;
	padding-left: 3px;
	vertical-align: top;
	background-color: #e2f5c2;
	height: 22px;
	border: 1px solid #dbdbdb;
}

.eXtremeTable .highlight a,.highlight a {
	color: black;
	font-size: 9pt;
}

.eXtremeTable .footer {
	border: 1px solid #dbdbdb;
	color: Black;
	text-align: center;
	background: #EEEEEE;
	white-space: nowrap;
	text-align: right;
}

.eXtremeTable .toolbar {
	background-color: #F4F4F4;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	margin-right: 1px;
	border-right: 1px solid silver;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.eXtremeTable .toolbar td {
	color: #444444;
	padding: 0px 3px 0px 3px;
	text-align: center;
}

.eXtremeTable .separator {
	width: 7px;
}

.eXtremeTable .statusBar {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
}

.eXtremeTable .compactToolbar {
	background-color: #FFFFFF;
}

.eXtremeTable .filterButtons {
	background-color: #efefef;
	text-align: right;
}

.eXtremeTable .title {
	color: #444444;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	vertical-align: middle;
}

.eXtremeTable .title span {
	margin-left: 7px;
}

.eXtremeTable .formButtons {
	display: block;
	margin-top: 9pt;
	margin-left: 5px;
}

.eXtremeTable .formButton {
	cursor: pointer;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	background-color: #308dbb;
	color: white;
	margin-top: 5px;
	border: outset 1px #333;
	vertical-align: middle;
}

.eXtremeTable .tableTotal {
	background-color: #FFFFFF;
	border-top: solid 1px Silver;
}

.eXtremeTable .tableTotalEmpty {
	background-color: #FFFFFF;
}

.eXtremeTable .numberColumn {
	text-align: right;
}

.eXtremeTable .centerColumn {
	text-align: center;
}

.eXtremeTable .calcRow td {
	border: 1px solid #dbdbdb;
	color: Black;
	text-align: center;
	background: #dbdbdb;
	white-space: nowrap;
	text-align: right;
}

.eXtremeTable .calcTitle {
	font-weight: bold;
}

.eXtremeTable .calcResult {
	font-weight: bold;
}

/*分页样式*/
.eXtremeTable td.pagination {
	font-family:Verdana,Arial,Helvetica,sans-serif;
	border-left:1px solid #ddd;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 0px;
}

.eXtremeTable td.pagination span{
	font-size: 12px;
}

.eXtremeTable td.pagination A {
	text-decoration: none;
	border-right:1px solid #ddd;
	padding:2px 5px 2px 5px;
	color: #333333;
	margin: 0px;
	font-size: 12px;
}

.eXtremeTable td.pagination A:hover {
	background-color: #eee;
	border-right:1px solid #ddd;
	padding:2px 5px 2px 5px;
	margin-right: 0px;
}

.eXtremeTable td.pagination A:active {
	background-color: #eee;
	border-right:1px solid #ddd;
	padding:2px 5px 2px 5px;
	margin-right: 0px;
	color: #ffffff;
}

.eXtremeTable td.pagination SPAN.current {
	background-color: #337ab7;
	border-right:1px solid #ddd;
	padding:2px 5px 2px 5px;
	color: #ffffff;
	margin-right: 0px;
}

.eXtremeTable td.pagination SPAN.disabled {
	border-right:1px solid #ddd;
	padding:2px 5px 2px 5px;
	color: #ccc;
	margin-right: 0px;
}

.eXtremeTable a span.edit {
	padding-left: 18px;
	background-image: url(../images/icons/editIcon.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-bottom: 2px;
}

.eXtremeTable span.sortAsc {
	padding-left: 18px;
	background-image: url(../images/extremetable/sortAsc.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.eXtremeTable span.sortDesc {
	padding-left: 18px;
	background-image: url(../images/extremetable/sortDesc.gif);
	background-repeat: no-repeat;
	background-position: 0px 5px;
}

.eXtremeTable span.separator {
	padding-left: 2px;
	background-image: url(../images/extremetable/separator.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.eXtremeTable span.csv {
	padding-left: 33px;
	background-image: url(../images/extremetable/csv.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.eXtremeTable span.pdf {
	padding-left: 38px;
	background-image: url(../images/extremetable/pdf.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.eXtremeTable span.xls {
	padding-left: 37px;
	background-image: url(../images/extremetable/xls.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
