@CHARSET "UTF-8";

@import url(form.css);

body {
	/* background: rgba(0, 0, 0, 0) url("../images/member/login/body-bg.jpg") repeat-x scroll 0 0;
	background-size:cover;  */
	background-color: #fff;
}

a {
	color: #666;
}

a:hover, a:focus {
	color: #e4393c;
	text-decoration: none;
}

a:focus {
	outline: thin dotted;
	outline-offset: -2px;
}

/*首页头*/
.indexTopBanner {
	position: relative;
	padding: 0px;
}

.indexTopBanner .linkBar {
	left: 0;
	top: 0px;
	right: 0;
	margin: auto;
	position: absolute;
	padding: 20px 150px 20px 20px;
}

.indexTopBanner .navBar {
	left: 0;
	bottom: 20px;
	right: 0;
	margin: auto;
	background-color: #fff;
	position: absolute;
	padding: 20px 40px;
}

.indexTopBanner .navBar .menuBar {
	padding-top: 10px;
}

.indexTopBanner .navBar .searchBar {
	padding-top: 15px;
}

.indexTopBanner .navBar .searchBar .keyword {
	border: none;
	border-bottom: 1px solid #999999;
	box-shadow: none;
	border-radius: 0px;
	background-color: transparent;
	color: #fff;
}

.indexTopBanner .navBar .searchBar .searchBtn {
	border: none;
	background-color: transparent;
	color: #336699;
}
/*首页头完毕*/
/*首页内容*/
.navHeader>ol:last-child {
	margin: 0px;
	padding: 0px;
}

.indexTypeName {
	padding: 10px;
}

.indexTypeName .indexContent {
	border: 1px solid #fff;
	padding: 10px;
	background-color: #1c2d4b;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	height: 270px;
	text-align: center;
	padding-top: 60px;
}

.productType1 {
	/* background: rgba(0, 0, 0, 0) url("../images/guest/product_type_1.jpg");
	background-repeat:no-repeat;
	background-size:cover; */
	
}

.indexList {
	padding: 10px;
}

.indexList .indexContent {
	border: 1px solid transparent;
	padding: 10px;
}

.indexList .indexContent:hover {
	border: 1px solid #ddd;
}

.indexList  img {
	width: 100%;
	height: 200px;
	background-color: #fff;
}

.indexList .price {
	color: #1c2d4b;
	font-size: 20px;
}
/*首页内容END*/
/*内页头*/
.contentTopBanner {
	background-color: #1c2d4b;
}

#topBar {
	text-align: right;
	line-height: 24px;
	color: #d1d1d1;
	vertical-align: middle;
	padding-top: 14px;
}

#topBar ul {
	list-style: none;
}

#topBar ul li {
	display: inline;
	padding: 0px 10px;
}

#topBar ul li a, #topBar ul li a:VISITED {
	color: #FFF;
}

#topBar ul li a:HOVER {
	color: #ff8040;
	text-decoration: none;
}

#topBar .keyword {
	border: none;
	border-bottom: 1px solid #fff;
	box-shadow: none;
	border-radius: 0px;
	background-color: transparent;
	color: #fff;
}

#topBar .searchBtn {
	border: none;
	background-color: transparent;
	color: #fff;
}

#menuBar {
	background-image: url("../images/guest/menu_bar_bottom_line.gif");
	background-repeat: repeat-x;
	background-position: center 40px;
}

#menuBar>div {
	height: 41px;
	display: inline-block;
}

#menuBar ul {
	list-style: none;
	float: left;
	font-family: "Source Sans Pro", Segoe UI, Arial;
	list-style: outside none none;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}

#menuBar ul>li {
	display: inline;
	float: left;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
	margin: 0;
	padding: 0;
	position: relative;
}

#menuBar ul>li>a {
	color: #336699;
	display: block;
	padding: 10px 32px;
	text-decoration: none;
	text-transform: uppercase;
	transition: color 0.2s linear 0s, background 0.2s linear 0s;
}
/*内页头完毕*/

/*内页*/
.content-div {
	/* margin-top: 6px;
	padding: 20px 0 0 0;
	background: rgba(0, 0, 0, 0) url("../images/member/banner.jpg");
	background-repeat:no-repeat;
	background-size:cover; */
}

.navPath {
	background-color: transparent;
	margin-bottom: 5px;
}
/**/
/*商品列表START*/
.productListTypes {
	padding-top: 20px;
}

.productListTypes .panel .panel-heading {
	background-image:none;
	background-color: #1c2d4b;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
}

.productListTypes .panel .panel-body .typeName a, .productListTypes .panel .panel-body .typeName a:visited{
	color: #1c2d4b;
	font-weight: bold;
	font-size: 16px;
}

.productListTypes .panel .panel-body .childName{
	font-size: 14px;
	line-height: 24px;
}

.productListTypes .panel .panel-body .split{
	border-bottom: 1px solid #d1d5db;
	margin-bottom: 20px;
}

/*商品列表END*/

/*查看商品*/

/*查看商品END*/

/*主页面左边导航*/
.redFont {
	color: #D70C19;
	font-weight: bold;
}

.greenFont {
	color: #9B8B00;
	font-weight: bold;
}
/*主页面标题栏*/
.contentTitleBar {
	font-size: 20px;
	font-weight: bold;
	padding-left: 30px;
	padding-top: 12px;
	background-repeat: repeat-x;
	background-image: url(../images/member/content_title_bg.jpg);
	height: 50px;
	color: #1B548D;
}
/*首页列表表格*/
.badgeCustom {
	background-color: transparent;
	color: #ccc;
}

/*分页*/
.pageStatusBar {
	padding: 15px 0;
}
/*消息栏*/
div.notice, div.error { /* border-radius: 4px 4px 4px 4px;
	margin-bottom: 4px;
	list-style: none;
	padding: 4px; */
	
}

div.notice { /* border: 1px solid #fcefa1;
	background-color:#fbf9ee;
	color: #363636; */
	
}

div.error ul {
	margin: 0px;
	background-image: url(../images/icons/error.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
}

div.error ul li {
	list-style: none;
}

div.notice ul {
	margin: 0px;
	background-image: url(../images/icons/light-on.gif);
	background-repeat: no-repeat;
	background-position: 0px 1px;
	padding-left: 20px;
}

div.notice ul li {
	list-style: none;
}
/*表单或详细资料表格*/
span.form-tips {
	font-style: italic;
}

pre.newsContent {
	background-color: transparent;
	border: none;
	font-size: 14px;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

table.detail {
	font-weight: normal;
	border-collapse: collapse;
	position: relative;
}

table.detail tbody>tr>th {
	color: #333333;
	text-align: right;
	padding: 4px;
	white-space: nowrap;
	font-weight: normal;
	/* vertical-align: top; */
}

table.detail th.required {
	font-weight: bold;
}

table.detail td {
	padding: 4px;
}

table.detail td.title {
	padding: 4px;
	white-space: nowrap;
	font-weight: bold;
	border-bottom: 1px dotted #d0d0d0;
	text-align: left;
}

table.detail td div.buttonBar {
	margin-top: 10px;
	border-top: 1px dotted #d0d0d0;
	height: 40px;
	text-align: center;
	padding: 8px;
}
/*列表*/
.table>thead>tr>th {
	white-space: nowrap;
	color: #1c2d4b;
}

.poOrderDetails {
	
}

.poOrderDetails .productPic {
	width: 100px;
}

.product_price {
	font-size: 18px;
	color: #1c2d4b;
}

.histList {
	margin-bottom: 10px;
}

.histList .thumbnail {
	margin-bottom: 0px;
}

.histList .thumbnail img {
	width: 100%;
	height: 160px;
}

.histList .price {
	color: #1c2d4b;
	font-size: 16px;
}