/* ThemeOfficeMenu Style Sheet */
.ThemeOfficeMenu,.ThemeOfficeSubMenuTable {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	padding: 0;
	white-space: nowrap;
	cursor:pointer;
}

.ThemeOfficeSubMenu {
	position: absolute;
	visibility: hidden;
	overflow: hidden;
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

.ThemeOfficeSubMenuShadow {
	z-index: -1;
	position: absolute;
	top: 9px;
	left: 9px;
	width: 100%;
	height: 300em;
	background-color: black;
	opacity: 0.15;
	border: 0;
	margin: 0;
}

.ThemeOfficeSubMenuTable {
	border: 1px solid #ADAA9C;
	background-color: white;
	padding: 4px;
	margin: 0px 2px 2px 0px;
}

.ThemeOfficeMainItem,.ThemeOfficeMainItemHover,.ThemeOfficeMainItemActive,.ThemeOfficeMenuItem,.ThemeOfficeMenuItemHover,.ThemeOfficeMenuItemActive
	{
	border: 0;
	cursor:pointer;
	white-space: nowrap;
}

/* common background color to both horizontal and vertical menus */
.ThemeOfficeMainItem { /* background-color:	#EFEBDE; */
	
}

.ThemeOfficeMainItemHover,.ThemeOfficeMainItemActive {
	/* background-color: #C6D3EF; */
}

/* horizontal main menu */
.ThemeOfficeMainItem {
	padding: 1px;
	height: 38px;
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	color: #FFFFFF;
	font-weight: bold;
	
	background-color: #0f7560;
	border: 1px solid #19c7a4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

td.ThemeOfficeMainItemHover,td.ThemeOfficeMainItemActive {
	padding: 1px;
	border: none; 
	font-family: Tahoma, sans-serif;
	font-size: 13px;
	font-weight: bold;
	color: #FFF;
	/* background-image: url(../images/member/menu_over.jpg); */
	background-color: #0f7560;
	border-radius: 6px;
	border: 1px solid #19c7a4;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.ThemeOfficeMainFolderLeft,.ThemeOfficeMainItemLeft,.ThemeOfficeMainFolderText,.ThemeOfficeMainItemText,.ThemeOfficeMainFolderRight,.ThemeOfficeMainItemRight
	{
	background-color: inherit;
	white-space: nowrap;
	padding-left: 6px;
}

/* vertical main menu sub components */
td.ThemeOfficeMainFolderLeft,td.ThemeOfficeMainItemLeft {
	padding: 3px 2px 3px 1px;
	border: 0;
	background-color: inherit;
	white-space: nowrap;
}

td.ThemeOfficeMainFolderText,td.ThemeOfficeMainItemText {
	padding: 3px 5px 3px 5px;
	border: 0;
	background-color: inherit;
	white-space: nowrap;
}

td.ThemeOfficeMainItemRight,td.ThemeOfficeMainFolderRight {
	padding: 3px 1px 3px 0px;
	border: 0;
	background-color: inherit;
	white-space: nowrap;
}

tr.ThemeOfficeMainItemHover td.ThemeOfficeMainFolderLeft,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainFolderLeft,tr.ThemeOfficeMainItemHover td.ThemeOfficeMainItemLeft,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainItemLeft
	{
	padding: 2px 2px 2px 0px;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #3169C6;
}

tr.ThemeOfficeMainItemHover td.ThemeOfficeMainFolderText,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainFolderText,tr.ThemeOfficeMainItemHover td.ThemeOfficeMainItemText,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainItemText
	{
	padding: 2px 5px 2px 5px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #2E5E79;
}

tr.ThemeOfficeMainItemHover td.ThemeOfficeMainFolderRight,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainFolderRight,tr.ThemeOfficeMainItemHover td.ThemeOfficeMainItemRight,tr.ThemeOfficeMainItemActive td.ThemeOfficeMainItemRight
	{
	padding: 2px 0px 2px 0px;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #2E5E79;
}

/* sub menu sub components */
.ThemeOfficeMenuItem {
	background-color: white;
}

.ThemeOfficeMenuItemHover,.ThemeOfficeMenuItemActive {
	background-color: #E6F0F3;
}

.ThemeOfficeMenuFolderLeft,.ThemeOfficeMenuItemLeft {
	padding: 3px 3px 3px 2px;
	border: 0;
	white-space: nowrap;
	background-color: #EFEFDE;
}

.ThemeOfficeMenuFolderText,.ThemeOfficeMenuItemText {
	padding: 3px 5px 3px 5px;
	border: 0;
	white-space: nowrap;
}

.ThemeOfficeMenuFolderRight,.ThemeOfficeMenuItemRight {
	padding: 3px 1px 3px 0px;
	border: 0;
	white-space: nowrap;
	width:60px;
}

.ThemeOfficeMenuItemHover .ThemeOfficeMenuFolderLeft,.ThemeOfficeMenuItemActive .ThemeOfficeMenuFolderLeft,.ThemeOfficeMenuItemHover .ThemeOfficeMenuItemLeft,.ThemeOfficeMenuItemActive .ThemeOfficeMenuItemLeft
	{
	padding: 2px 3px 2px 1px;
	background-color: #cdd6d9;
	border-width: 1px 0px 1px 1px;
	border-style: solid;
	border-color: #2E5E79;
}

.ThemeOfficeMenuItemHover .ThemeOfficeMenuFolderText,.ThemeOfficeMenuItemActive .ThemeOfficeMenuFolderText,.ThemeOfficeMenuItemHover .ThemeOfficeMenuItemText,.ThemeOfficeMenuItemActive .ThemeOfficeMenuItemText
	{
	padding: 2px 5px 2px 5px;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: #2E5E79;
}

.ThemeOfficeMenuItemHover .ThemeOfficeMenuFolderRight,.ThemeOfficeMenuItemActive .ThemeOfficeMenuFolderRight,.ThemeOfficeMenuItemHover .ThemeOfficeMenuItemRight,.ThemeOfficeMenuItemActive .ThemeOfficeMenuItemRight
	{
	padding: 2px 0px 2px 0px;
	border-width: 1px 1px 1px 0px;
	border-style: solid;
	border-color: #2E5E79;
}

/* menu splits */
td.ThemeOfficeMenuSplit {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

div.ThemeOfficeMenuSplit {
	margin: 3px;
	height: 1px;
	overflow: hidden;
	background-color: inherit;
	border-top: 1px solid #C6C3BD;
}

/* image shadow animation */

/*
	seq1:	image for normal
	seq2:	image for hover and active

	To use, in the icon field, input the following:
	<img class="seq1" src="normal.gif" /><img class="seq2" src="hover.gif" />
*/
.ThemeOfficeMenuItem img.seq1 {
	display: inline;
}

.ThemeOfficeMenuItemHover seq2,.ThemeOfficeMenuItemActive seq2 {
	display: inline;
}

.ThemeOfficeMenuItem .seq2,.ThemeOfficeMenuItemHover .seq1,.ThemeOfficeMenuItemActive .seq1
	{
	display: none;
}