html, body{
	height: 100%;
}

body {
	padding-top: 0;
	background-color: #eee;
	font-size: 14px;
	background-image: url("../images/member/login/body-bg.jpg");
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 6%;
}

.form-getpwd {
	margin: 0 auto;
}

.form-getpwd h3, .form-getpwd small{
	color: #fff;
	margin-top:10px;
}

.form-getpwd .form-control:focus {
	z-index: 2;
}

.form-getpwd select {
	margin-bottom: 10px;
}

.form-getpwd input {
	margin-bottom: 10px;
}

.form-getpwd .form-control input{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}