@CHARSET "UTF-8";
/*盘专用CSS*/
.plateDetail0 {
	border: 1px solid #D2D3D5;
}

.plateDetail0 .plateTitle {
	background-color: #E1E5EE;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}

.plateDetail0 table.plateTable td {
	border: 1px solid #DBBAB1;
	vertical-align: top;
	text-align: center;
	height: 120px;
	width: 100px;
	background-color: #F3E1A3;
}

.plateDetail0 table.plateTable td span.title {
	font-weight: bold;
}

.plateDetail0 table.plateTable td span.time {
	font-size: 10px;
}

.plateDetail0 table.plateTable td.blank {
	border: none;
	background: none;
}

.plateDetail0 table.plateTable td.roleType1 {
	background-color: #ED6D6E;
}

.plateDetail0 table.plateTable td.roleType2 {
	background-color: #EF8C48;
}

.plateDetail0 table.plateTable td.roleType0 {
	
}
/**/
.plateDetail1 {
	border: 1px solid #D2D3D5;
}

.plateDetail1 .plateTitle {
	background-color: #E1E5EE;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}

.plateDetail1 table.plateTable td {
	border: 1px solid #b1dbc1;
	vertical-align: top;
	text-align: center;
	height: 120px;
	width: 100px;
	background-color: #CCE8F3;
}

.plateDetail1 table.plateTable td span.title {
	font-weight: bold;
}

.plateDetail1 table.plateTable td span.time {
	font-size: 10px;
}

.plateDetail1 table.plateTable td.blank {
	border: none;
	background: none;
}

.plateDetail1 table.plateTable td.roleType1 {
	background-color: #70b052;
}

.plateDetail1 table.plateTable td.roleType2 {
	background-color: #6cd08a;
}

.plateDetail1 table.plateTable td.roleType0 {
	
}
/*T*/
.plateDetailT {
	border: 1px solid #D2D3D5;
}

.plateDetailT .plateTitle {
	background-color: #E1E5EE;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}

.plateDetailT table.plateTable td {
	border: 1px solid #b1dbc1;
	vertical-align: top;
	text-align: center;
	height: 120px;
	width: 100px;
	background-color: #DCE8C5;
}

.plateDetailT table.plateTable td span.title {
	font-weight: bold;
}

.plateDetailT table.plateTable td span.time {
	font-size: 10px;
}

.plateDetailT table.plateTable td.blank {
	border: none;
	background: none;
}

.plateDetailT table.plateTable td.roleType1 {
	background-color: #73A316;
}

.plateDetailT table.plateTable td.roleType2 {
	background-color: #96BA51;
}

.plateDetailT table.plateTable td.roleType0 {
	
}
/*通用*/
.plateDetailNormal {
	border: 1px solid #D2D3D5;
}

.plateDetailNormal .plateTitle {
	background-color: #E1E5EE;
	line-height: 24px;
	text-align: center;
	font-weight: bold;
}

.plateDetailNormal table.plateTable td {
	vertical-align: top;
	text-align: center;
	height: 120px;
	width: 100px;
}

.plateDetailNormal table.plateTable td.left {
	border: 1px solid #edeca8;
	background-color: #fffdc9;
}

.plateDetailNormal table.plateTable td.right {
	border: 1px solid #b1dbc1;
	background-color: #CCE8F3;
}

.plateDetailNormal table.plateTable.left td {
	border: 1px solid #edeca8;
	background-color: #fffdc9;
}

.plateDetailNormal table.plateTable.right td {
	border: 1px solid #b1dbc1;
	background-color: #CCE8F3;
}

.plateDetailNormal table.plateTable td span.title {
	font-weight: bold;
}

.plateDetailNormal table.plateTable td span.time {
	font-size: 10px;
}

.plateDetailNormal table.plateTable td.blank {
	border: none;
	background: none;
}

.plateDetailNormal table.plateTable td.roleType1 {
	/* background-color: #70b052; */
}

.plateDetailNormal table.plateTable td.roleType2 {
	/* background-color: #6cd08a; */
}

.plateDetailNormal table.plateTable td.roleType0 {
	
}
/**/
ul.plateHisNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul.plateHisNav li {
	float: left;
	margin:2px 4px 2px 0px;
	border: 1px solid #CCCCCC;
	width: 180px;
	text-align: center;
	font-weight: bold;
	background-color: #EEEEEE;
	line-height: 26px;
}

ul.plateHisNav li input{
	vertical-align: baseline;
}

ul.plateHisNav li a:link,ul.plateHisNav li a:visited {
	display: block;
	color: #1C94C4;
	text-decoration: none;
	background-color: #FFFFFF;
	font-weight: normal;
}

ul.plateHisNav li a:hover,ul.plateHisNav li a:active {
	background-color: #EEEEEE;
}