body {
	margin: 0px;
	padding: 0px;
	background-color: #edf5fa;
	background-image: url(images/body-bg.png);
	background-repeat: repeat-x;
	color: #333;
	font-size: 14px;
	line-height: 24px;
}
#main {
	height: 627px;
	width: 596px;
	margin: auto;
	background-image: url(images/main-bg.png);
	background-repeat: no-repeat;
	
	
}
#bodyText{
	padding:50px;
	padding-top: 150px;
}
